# Fichiers systèmes / IDE
*.log
.DS_Store
.phpactor.json
.phpunit.result.cache
.php_cs.cache
Thumbs.db
/.idea
/.vscode
/.fleet
/.nova
/.phpunit.cache
/.zed
/auth.json

# Environnements
.env
.env.backup
.env.production

# Dépendances
node_modules
vendor

# Laravel spécifique
public/hot
public/storage
public/build

# Caches et fichiers générés
storage/*.key
storage/app/private
bootstrap/cache/*.php

# Autoriser les dossiers nécessaires pour le fonctionnement de Laravel
!storage/app
!storage/app/public
!storage/framework
!storage/framework/cache
!storage/framework/sessions
!storage/framework/views
!bootstrap/cache

# Outils de développement
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
